nav {
  margin: 0px;
}

.navbar-mega-menu {
  margin: 0px;
  padding: 0px;
}

.nav-item.dropdown a {
  background-color: transparent;
}

.mega-menu-dropdown .dropdown-menu {
  display: flex;
}

.menu-section {
  display: inline-block;
  padding: 20px;
}

.menu-outer-section {
  display: inline-block;
  padding-right: 50px;
}

.mega-menu-dropdown .dropdown-menu {
  display: none;
}
.mega-menu-dropdown .dropdown-menu.show {
  display: flex;
}

.carousel-slider {
  margin-top: 120px;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-page {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.products-list {
  align-items: center;
  justify-content: center;
}

.products-header {
  margin-bottom: 1vw;
  margin-top: 3vw;
}

.product-overview {
  margin: 0 0.5vw;
}

.product-price {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  font-size: 1.2em;
}

.product-time-preparation {
  display: inline-flex;
  align-items: center;
}

.product-rating {
  display: inline-flex;
  float: right;
}

.card {
  transition: all 0.2s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.product-img-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.similar-products-container {
  margin-top: 4vw;
}

.select {
  max-width: 200px;
  height: max-content;
  top: 4px;
  position: relative;
}

.search {
  max-width: 300px;
  margin-left: 0px;
}

.products-filter {
  display: flex;
}

.select-sort {
  max-width: 200px;
}

.card {
  max-width: none;
}

.not-found {
  margin-top: 140px;
}

@media screen and (min-width: 320px) {
  .card {
    width: auto;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    width: 100%;
  }

  .mega-menu-dropdown .dropdown-menu.show {
    display: block;
  }
  .menu-section {
    display: block !important;
    width: 100%;
    padding: 5px;
  }
  .menu-outer-section {
    padding: 0 10px;
    display: block;
  }
}
